/Assg1.docx.pdf
/assignment1.py
/Cameraman.tif
/cameraman2.tif
/deseartA.tif
/desert.tif
/Deskripsi Tugasan1.pdf
/ImageBlur.jpg
/ImageBlurV2.jpg
/ImageBudak.jpg
/ImageBudakV2.jpg
/img
/lindsay.tif
/py files
/result.jpeg
/rollercoaster.tif
/rollercoster.tif
/tkinter.py
/tkinter_ex.py
/__pycache__